@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 1200px;
  margin: auto;
}
/*상단 메뉴바*/
header {
  width: 1200px;
  height: 100px;
  background-color: blue;
}
.dreamjeju {
  float: left;
  width: 20%;
  height: 100%;
}
h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 10px;
}
.menubar {
  float: left;
  width: 80%;
  height: 100%;
}
header ul {
  margin-left: 30px;
}
header ul li {
  float: left;
  padding: 60px;
  color: #fff;
  list-style: none;
}
/*중단 이미지   */
.bg {
  width: 1200px;
  height: 300px;
}
/*중단 메뉴*/
/*중단 메뉴 왼쪽*/
.menubox {
  width: 1200px;
  height: 400px;
}
.menubox-left {
  width: 600px;
  height: 100%;
  float: left;
}
.menubox-left-header {
  width: 600px;
  height: 50px;
  border-bottom: black 1px;
}
.menubox-left-header span {
  float: left;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  color: gray;
  width: 120px;
  height: 50px;
  background-color: #fff;
}
.menubox-left-header span:hover {
  background-color: rgb(215, 212, 212);
  color: brown;
}
.menubox-left-main {
  width: 600px;
  height: 350px;
  border-top: rgb(190, 190, 190) solid 1px;
}
.menubox-left-main p {
  padding-top: 35px;
  padding-left: 15px;
  font-size: 14px;
}
/*중단 메뉴 오른쪽*/
.menubox-right {
  width: 600px;
  height: 100%;
  float: right;
}
.menubox-right-img {
  float: left;
  padding: 50px 20px;
}
.menubox-right-img img {
  display: block;
  border-radius: 50%;
}
.menubox-right-img span {
  display: block;
  margin-top: 15px;
  margin-left: 40px;
}
/*하단*/
footer {
  width: 1200px;
  height: 100px;
  position: relative;
  border-top: 1px solid;
}
.footer-top {
  width: 450px;
  height: 50px;
}
.footer-top span {
  padding: 10px 18px;
  margin-top: 5px;
  font-size: 14px;
  display: inline-block;
  border-right: 1px solid #bebebe;
}
.footer-top span:last-child {
  border-style: none;
}
.footer-bt {
  width: 450px;
  height: 50px;
}
.footer-bt span {
  font-size: 13px;
  display: inline-block;
  margin-left: 20px;
  opacity: 70%;
}
.footer-right {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 1050px;
  top: 0px;
}
.footer-right i img {
  margin-top: 30px;
  margin-left: 10px;
}
